# Composer
composer.lock

# PHP Storm
.idea

# NodeJS
node_modules

# Composer
vendor

# Bower
bower_components

# Settings
setting/*

!setting/general.sample.json
!setting/general.default.json

!setting/mailbox.sample.json
!setting/mailbox.default.json

!setting/show.default.json

# Mac
.DS_Store

# Misc
*.swp