<IfModule mod_rewrite.c>
    Options -Indexes
    Options +FollowSymlinks

    RewriteEngine On
    RewriteBase /

    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
    RewriteRule ^(.*)$ - [E=BASE:%1]

    RewriteCond %{QUERY_STRING} ^(emailaddress)=(.*)$
    RewriteRule ^mail/(.*)$ %{ENV:BASE}autodiscover.php?mail_client=thunderbird&email=%2 [L,NC,QSA]

    #RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^mail/(.*)$ %{ENV:BASE}autodiscover.php?mail_client=thunderbird&email=$1 [L,NC,QSA]

    RewriteRule ^(.*)/?autodiscover\.xml$ autodiscover.php?mail_client=outlook_xml [L,NC,QSA]
    RewriteRule ^(.*)/?autodiscover\.json$ autodiscover.php?mail_client=outlook_json [L,NC,QSA]


    # contains frontend assets
    RewriteRule ^(tpl/asset)($|/) - [L]

    RewriteRule ^api/(.*)$ autodiscover.php?frontend=api [L,NC,QSA]
    RewriteRule ^(.*)$ autodiscover.php?frontend=show [L,NC,QSA]

</IfModule>