<IfModule mod_rewrite.c>
    Options -Indexes
    Options +FollowSymlinks

    RewriteEngine On
    RewriteBase /

    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
    RewriteRule ^(.*)$ - [E=BASE:%1]

    RewriteCond %{QUERY_STRING} ^(emailaddress)=(.*)$
    RewriteRule ^mail/(.*)$ %{ENV:BASE}autodiscover.xml.php?exchange=false&email=%2 [L,NC,QSA]

    #RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^mail/(.*)$ %{ENV:BASE}autodiscover.xml.php?exchange=false&email=$1 [L,NC,QSA]

    RewriteRule ^(.*)/?autodiscover\.xml$ autodiscover.xml.php?exchange=true [L,NC,QSA]

    # todo: implement office365
    # RewriteRule ^(.*)/?autodiscover\.json$ autodiscover.xml.php.php [L,NC,QSA]

</IfModule>